$form-gap: 16px;

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 580px;
    position: relative;
    padding: 0 10px;

    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.Gap {
    height: $form-gap;
}

.SwapArrowContainer {
    position: relative;
    width: 100%;
    height: $form-gap;
}

.SwapArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9999px;
    height: 66px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background-button-primary);

    & > svg {
        height: 35px;
        width: 35px;
        object-fit: contain;
        object-position: center;
        transform: translateY(2px);
        color: var(--color-text-button-primary);
    }

    @media (max-width: 600px) {
        height: 50px;
        width: 50px;

        & > svg {
            height: 25px;
            width: 25px;
        }
    }
}

.Button {
    cursor: pointer;
    background: var(--color-background-button-primary);
    color: var(--color-text-button-primary);
    min-height: 70px;
    padding: 15px 20px;
    width: 100%;
    font-size: clamp(16px, 5vw, 24px);
    line-height: 1.5em;
    font-weight: 500;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
        min-height: 60px;
        font-size: 18px;
    }
}

.DisabledButton {
    cursor: not-allowed;
    background: var(--color-background-button-disabled);
    color: var(--color-text-button-disabled);
    transition: all 0.3s ease;
}

.DisabledButton:hover,
.DisabledButton:focus {
    opacity: 0.8;
}

.Info {
    text-align: center;
    margin-top: 20px;
    color: var(--color-text-secondary);
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 400;

    @media (max-width: 600px) {
        font-size: 20px;
    }
}

.SmallInfo {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 100px;

    @media (max-width: 600px) {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

.Error {
    color: red;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 400;
}
