.Overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border-radius: 36px;
    background: var(--color-panel);
    width: 480px;
}

.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Title {
    color: var(--color-text-h1);
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 500;
}

.CloseButton {
    cursor: pointer;
    height: max-content;

    &>svg {
        display: block;
        height: 20px;
        width: 20px;
        object-fit: contain;
        object-position: center;
        color: var(--color-text-primary);
    }
}

.Image {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
}

.Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Message {
    color: var(--color-text-primary);
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 600;
}

.Info {
    color: var(--color-text-secondary);
    font-size: 18px;
    line-height: 1.25em;
    font-weight: 400;

    &>a {
        text-decoration: underline;
    }
}