.Info {
    font-size: 12px;
    line-height: 1.25em;
    text-align: center;
    color: var(--color-text-secondary);
    font-weight: 400;
    padding-bottom: 50px;

    @media (max-width: 600px) {
        font-size: 10px;
        padding: 0 10px;
    }
}